<div class="container wide">
    <%= link_to '<button type="button" class="btn btn-warning">Home</button>'.html_safe, root_path %>
        <center>
            <% @logs.each do |log| %>
                <div class="row">
                    <div class="col-3">
                        <%= image_tag cl_image_path(log[:winner].photo.url), class: 'alias winner' %>
                    </div>
                    <div class="col-3">
                        <p class="winner-label">
                            <%=log[:winner].name%> won</p>
                    </div>
                    <div class="col-3">
                        <p class="loser-label">
                            <%=log[:loser].name%> lost</p>
                    </div>
                    <div class="col-3">
                        <%= image_tag cl_image_path(log[:loser].photo.url), class: 'alias loser' %>
                    </div>
                </div>
                <% end %>
        </center>
</div>