<p id="notice"><%= notice %></p>

<h1>Progressweapons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @progressweapons.each do |progressweapon| %>
      <tr>
        <td><%= link_to 'Show', progressweapon %></td>
        <td><%= link_to 'Edit', edit_progressweapon_path(progressweapon) %></td>
        <td><%= link_to 'Destroy', progressweapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Progressweapon', new_progressweapon_path %>
