<!DOCTYPE html>
<html>
  <head>
    <title>MortalKombat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag 'background.cycle.min', 'data-turbolinks-track': 'reload' %>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $("body").backgroundCycle({
                imageUrls: [
                    '<%= asset_path('bg1.jpg') %>',
                    '<%= asset_path('bg2.jpg') %>',
                    '<%= asset_path('bg3.jpg') %>',
                    '<%= asset_path('bg4.jpg') %>'
                ],
                fadeSpeed: 2000,
                duration: 3000,
                backgroundSize: SCALING_MODE_COVER
            });
        });
    </script>
  </head>
  <body style="margin: 0;">
    <%= yield %>
  </body>
</html>
